

@{
    ViewBag.Title = "BIENVENIDO";
}
<h2></h2>
  <div style="background-image: url(@Url.Content("~/hola.jpg"))"></div>


<h2> </h2>
<p>
    SISTEMA DE INVENTARIO
</p>
<p>
    Alumnos: MICHAEL PARRA DIAZ <br
     JOSE MIGUEL DURAN VICTORIO
</p>