

@{
    ViewBag.Title = "BIENVENIDO";
}
<h2></h2>
    <img src="@Url.Content("~/Images/HOME.jpg")" width="500px" height="600px" alt="imgf"/> 

<div style="background-image: url(@Url.Content("~/Images/HOME.jpg"))"></div>
<h2> </h2>
<h2> </h2>
<p>
    SISTEMA DE INVENTARIO
</p>
<p>
    Alumno: MICHAEL PARRA DIAZ
    Alumno: jOSE MIGUEL DURAN VICTORIO
</p>