

@{
    ViewBag.Title = "BIENVENIDO";
    
}


<DIV ALIGN=center color:#FF0000>
    <h1>SISTEMA DE INVENTARIO</h1> 
</DIV>


 
<img src="http://2.bp.blogspot.com/-ezHu6hpIDwQ/VTm6PQSWi7I/AAAAAAAAAA8/_lAUIm6U02w/s1600/BODEGA.jpg"  Height="600"  Width="1150" AlternateText="Imagen no disponible" ImageAlign="TextTop" />

<h5>Alumnos: MICHAEL PARRA DIAZ 2014-0126 Y JOSE MIGUEL DURAN VICTORIO 2005-0695</h5>
        
   

